<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Todo application</title>
    <script>
        var token = document
            .querySelector('meta[name="csrf-token"]')
            .getAttribute('content')
        function TodoUpdate(id) {
            // console.log(id)
            fetch(`/todos/${id}`, {
                method: "put",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                })
            })
                .then((res) => {
                    window.location.reload();
                })
                .catch((err) => console.error(err))
        };
        function deleteTodo(id) {
            console.log("Deleting Todo", id)
            fetch(`/todos/${id}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token,
                })
            })
                .then((res) => {
                    if (res.ok) {
                        window.location.reload();
                    }
                })
                .catch((err) => console.log(err))
        }
    </script>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2">
            <%- include('header.ejs') %>
                <a href="/signout">Signout</a>
                <form action="/todos" method="post">
                    <%- include('notifications.ejs') %>
                        <input type="hidden" name="_csrf" value="<%= csrfToken%>">
                        <div class="flex gap-2 py-4">
                            <div class="flex-auto"><input type="text" name="title" placeholder="What's next ?"
                                    class="border border-gray-300 test-gray-900 w-full rounded p-2 text-sm" required>
                            </div>
                            <div class="flext-auto"><input type="date" name="dueDate"
                                    class="border border-gray-300 test-gray-900 w-full rounded p-2 text-sm" required>
                            </div>
                            <div class="flex-none">
                                <button type="submit"
                                    class="bg-green-600 px-5 py-2 rounded text-white leading-5 font-medium mr-2 mb">Add</button>
                            </div>
                        </div>
                </form>
                <%- include('todo.ejs', {title: "Overdue" , todoArray: overdue, todoId: "count-overdue" }) %>
                    <%- include('todo.ejs', {title: "Due Today" , todoArray: duetoday, todoId: "count-due-today" }) %>
                        <%- include('todo.ejs', {title: "Due Later" , todoArray: duelater, todoId: "count-due-later" })
                            %>
                            <%- include('todo.ejs', {title: "Completed" , todoArray: completed,
                                todoId: "count-completed" }) %>
                                <%- include('footer.ejs') %>
        </div>
    </div>
</body>

</html>